<?xml version="1.0" encoding="utf-8" ?>  
<configuration>      
  <configSections>
    <sectionGroup name="infos">
      <section name="pays" type="System.Configuration.DictionarySectionHandler,System" />
    </sectionGroup>
  </configSections>
  <appSettings>  
    <add key="recherche" value="Bienvenue !"/>
    <add key="top" value="3"/>
  </appSettings>  
  <infos>
    <pays>
        <add key="Albanie"            value="28748"/>
        <add key="Allemagne"          value="357578"/>
        <add key="Andorre"            value="468"/>
        <add key="Arménie"            value="29743"/>
        <add key="Autriche"           value="83870"/>
        <add key="Belgique"           value="30528"/>
        <add key="Biélorussie"        value="207600"/>
        <add key="Bosnie-Herzégovine" value="51129"/>
        <add key="Bulgarie"           value="110910"/>
        <add key="Chypre"             value="9251"/>
        <add key="Croatie"            value="56542"/>
        <add key="Danemark"           value="43094"/>
        <add key="Espagne"            value="518000"/>
        <add key="Estonie"            value="45226"/>
        <add key="Finlande"           value="338145"/>
        <add key="France"             value="643801"/>
        <add key="Géorgie"            value="69700"/>
        <add key="Grèce"              value="131940"/>
        <add key="Hongrie"            value="93030"/>
        <add key="Irlande"            value="70280"/>
        <add key="Islande"            value="103000"/>
        <add key="Italie"             value="301234"/>
        <add key="Kosovo"             value="10887"/>
        <add key="Lettonie"           value="64589"/>
        <add key="Liechtenstein"      value="160"/>
        <add key="Lituanie"           value="65200"/>
        <add key="Luxembourg"         value="2586"/>
        <add key="Macédoine du Nord"  value="25333"/>
        <add key="Malte"              value="316"/>
        <add key="Moldavie"           value="33843"/>
        <add key="Monaco"             value="2"/>
        <add key="Monténégro"         value="13800"/>
        <add key="Norvège"            value="324220"/>
        <add key="Pays-Bas"           value="41526"/>
        <add key="Pologne"            value="312685"/>
        <add key="Portugal"           value="92042"/>
        <add key="Roumanie"           value="237500"/>
        <add key="Royaume-Uni"        value="244820"/>
        <add key="Russie"             value="17075200"/>
        <add key="Saint-Marin"        value="61"/>
        <add key="Serbie"             value="77589"/>
        <add key="Slovaquie"          value="48845"/>
        <add key="Slovénie"           value="20273"/>
        <add key="Suède"              value="450295"/>
        <add key="Suisse"             value="41290"/>
        <add key="Tchéquie"           value="78866"/>
        <add key="Turquie"            value="783562"/>
        <add key="Ukraine"            value="603628"/>
        <add key="Vatican"            value="0.4"/>
    </pays>
  </infos>
</configuration>  